{% extends 'base.html' %}
{% block content %}




    <section>
      <a href="{% url 'patient_new' %}" class="button next">Add patient</a>
      <a href="{% url 'appointment_new' %}" class="button next">Add appointment</a>
    </section>
    <!-- Section -->
    {% comment %} SEARCH {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <section>
        <form method="get" action="{% url 'home' %}">
            <label for="date">Date:</label>
            <input type="date" id="datepicker"   name="search_value" data-date-format="DD-MM-YYYY" value="{{ request.GET.search_value }}" >
            <input type="submit" value="Search" class="btn btn-secondary btn-sm" />
            
        </form>    
    </section>


    <!-- Section -->
          <section>
            <h2> <a>All appointment for: </a> <a id="demo"></a> </h2>
            <table id= "mytable" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Appointment date</th>
                    <th scope="col">Appointment type</th>
                    <th scope="col">Appointment status</th>
                    <th scope="col">Edit appointment</th>
                </tr>
                </thead>
                <tbody>
                    {% for appointment in object_list %}
        
                        <tr>
                            <td>
                                <h><a >&nbsp</a></h>
                            </td>   
                            <td>
                                <h><a href="{% url 'patient_detail' appointment.patient.id %}">{{ appointment.patient.name }}</a></h>
                            </td>
                            <td>
                                <h1><a>{{ appointment.appointmentDate }}</a></h1>
                            </td>
                            <td>
                                <h1><a>
                                  {%if  appointment.appointmentType  == 'New Visit' %}
                                  
                                  <mark>  {{ appointment.appointmentType }} </mark></a></h1>
                             
                                  {% endif %}
                            </td>
                            <td>
                                <h1><a>{{ appointment.appointmentStatus }}</a></h1>
                            </td>
                            <td>
                              <a href="{% url 'appointment_edit' appointment.pk %}" class="button next">Edit appointment</a>
                          </td>
                        </tr>
                        {% endfor %}
                        </tbody>
              </table>
        </section>
        <h2> <a>Total appointment NO.:</a>{{ object_list.count }} </h2> 
      </br>
{% comment %} pagination  {% endcomment %}
<ul class="pagination">

  {% if page_obj.has_previous %}
      <li><a  class="prev btn btn-info" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
  {% else %}
      <li class=" prev btn btn-info disabled"><span>Previous</span></li>
  {% endif %}
  
  {% if page_obj.number|add:'-4' > 1 %}
      <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
  {% endif %}
  

{% for i in page_obj.paginator.page_range %}
    {% if 'search_value' in request.get_full_path %}
      {% if page_obj.number == i %}
          <li class="btn btn-success"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
          <li><a href="{{ request.get_full_path }}&page={{ i }}" class="btn">{{ i }}</a></li>
      {% endif %}
    {% else %}
    {% if page_obj.number == i %}
    <li class="btn btn-success"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
    <li><a href="?page={{ i }}" class="btn">{{ i }}</a></li>
  {% endif %}
  {% endif %}
{% endfor %}
  

  {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
      <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
  {% endif %}
  


  {% if 'search_value' in request.get_full_path %}

    {% if page_obj.has_next %}
        <li><a class="prev btn btn-info" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class=" prev btn btn-info disabled"><span>Next</span></li>
    {% endif %}

    {% else %}
    {% if page_obj.has_next %}
        <li><a class="prev btn btn-info" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class=" prev btn btn-info disabled"><span>Next</span></li>
    {% endif %}

  {% endif %}
  
  </ul>


    <script>
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
          });
          
        let value = params.search_value; 

        if(value)  
            {
                document.getElementById("demo").innerHTML = value;
                document.getElementById("datepicker").value = value;
             }
            
            else
            {
            document.getElementById("demo").innerHTML = "{{todaydatefroml}}";
            document.getElementById("datepicker").defaultValue =  "{{todaydate}}"; 
            }  



            $("input").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                    .format( this.getAttribute("data-date-format") )
                )
            }).trigger("change")



    </script>

    <style>
        input {
            position: sticky;
            width: 150px; height: 35px;
            color: white;
        }
        
        input:before {
            position: absolute;
            top: 3px; left: 3px;
            content: attr(data-date);
            display: inline-block;
            color: black;
        }
        
        input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
            display: none;
        }
        
        input::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 3px;
            right: 0;
            color: black;
            opacity: 1;
        }

        
        body
        {
           counter-reset: Serial Section;      
        }
        
        table
        {
            border-collapse: separate;
        }
        
        tr td:first-child:before
        {
            counter-increment: Serial;      
            content: counter(Serial); 
        }
        
        div::before {
            counter-increment: Section;
        }
    </style>
    {% endblock content %}