{% extends 'base.html' %}
{% block content %}

 <!-- Section -->
 <section>
    <table>
        <tbody>
            <td> <a href="{% url 'appointment_new' %}" class="button next">Add appointment</a></td>
            <td> <a href="{% url 'import-csvappo' %}" class="button next">import csv</a> </td>
        </tbody>
    </table>
</section>







     <!-- Section -->
     <section>
      <h2> <a>All appointment</a> <a id="demo"></a> </h2>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Patient Name</th>
              <th scope="col">Appointment date</th>
              <th scope="col">Appointment type</th>
              <th scope="col">Appointment status</th>
              <th scope="col">Edit appointment</th>
          </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                    <form method="get" action="{% url 'appointments' %}" name = "search">
                        
                    <input style = "width: auto;" id="al-search" type="text" name="search_value" 
                        value="{{ request.GET.search_value }}"class="form-control" onchange="this.form.submit()"/>  
                                
                    
                      {% comment %} </form>            {% endcomment %}
                <td>
                    <form method="get" action="{% url 'appointments' %}" name = "search">
                        <input style = "width: auto;" id="al-search" type="text" name="search_date" 
                            value="{{ request.GET.search_date }}"class="form-control" onchange="this.form.submit()"/>                </td>
                <td>
                        {% comment %} FILTER {% endcomment %}
                        <form method="get" action="{% url 'appointments' %}" name = "search">
                            <select name="appointmentType" onchange="this.form.submit()">
                                <option value="">Appointment Type </option>
                                <option value="New Visit" {% if request.GET.appointmentType == "New Visit" %} selected{% endif %}>New Visit
                                </option>

                                <option value="Repeat" {% if request.GET.appointmentType == "Repeat" %} selected{% endif %}>Repeat
                                </option>

                                <option value="Consultation" {% if request.GET.appointmentType == "Consultation" %} selected{% endif %}>Consultation
                                </option>

                                <option value="Follow up" {% if request.GET.appointmentType == "Follow up" %} selected{% endif %}>Follow up
                                </option>

                                <option value="Operative" {% if request.GET.appointmentType == "Operative" %} selected{% endif %}>Operative
                                </option>
                                    
                            </select>
                        {% comment %} </form> {% endcomment %}
                </td>
                <td>
                    {% comment %} FILTER {% endcomment %}
                    <form method="get" action="{% url 'appointments' %}" name = "search">
                        <select name="appointmentStatus" onchange="this.form.submit()">
                            <option value="">Appointment status </option>
                            <option value="Waiting" {% if request.GET.appointmentStatus == "Waiting" %} selected{% endif %}>Waiting
                            </option>

                            <option value="On going" {% if request.GET.appointmentStatus == "On going" %} selected{% endif %}>On going
                            </option>

                            <option value="Done" {% if request.GET.appointmentStatus == "Done" %} selected{% endif %}>Done
                            </option>

                            <option value="Cancel" {% if request.GET.appointmentStatus == "Cancel" %} selected{% endif %}>Cancel
                            </option>
                                
                        </select> 
                    </form>
                </td>
                <td>
               

                  {% comment %} <a href="{% url 'appointment_edit' appointment.pk %}" class="button next">Edit appointment</a> {% endcomment %}
              </td>
            </tr>
              {% for appointment in object_list %}
  
                  <tr>
                      <td>
                          <h><a href="{% url 'patient_detail' appointment.patient.id %}">{{ appointment.patient.name }}</a></h>
                      </td>
                      <td>
                          <h1><a>{{ appointment.appointmentDate }}</a></h1>
                      </td>
                      <td>
                          <h1><a>{{ appointment.appointmentType }}</a></h1>
                      </td>
                      <td>
                          <h1><a>{{ appointment.appointmentStatus }}</a></h1>
                      </td>
                      <td>
                        <a href="{% url 'appointment_edit' appointment.pk %}" class="button next">Edit appointment</a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
        </table>
  </section>
</br>
{% comment %} pagination  {% endcomment %}
<ul class="pagination">

  {% if page_obj.has_previous %}
      <li><a  class="prev btn btn-info" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
  {% else %}
      <li class=" prev btn btn-info disabled"><span>Previous</span></li>
  {% endif %}
  
  {% if page_obj.number|add:'-4' > 1 %}
      <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
  {% endif %}
  

{% for i in page_obj.paginator.page_range %}
    {% if 'search_value' in request.get_full_path %}
      {% if page_obj.number == i %}
          <li class="btn btn-success"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
          <li><a href="{{ request.get_full_path }}&page={{ i }}" class="btn">{{ i }}</a></li>
      {% endif %}
    {% else %}
    {% if page_obj.number == i %}
    <li class="btn btn-success"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
    <li><a href="?page={{ i }}" class="btn">{{ i }}</a></li>
  {% endif %}
  {% endif %}
{% endfor %}
  

  {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
      <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
  {% endif %}
  


  {% if 'search_value' in request.get_full_path %}

    {% if page_obj.has_next %}
        <li><a class="prev btn btn-info" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class=" prev btn btn-info disabled"><span>Next</span></li>
    {% endif %}

    {% else %}
    {% if page_obj.has_next %}
        <li><a class="prev btn btn-info" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class=" prev btn btn-info disabled"><span>Next</span></li>
    {% endif %}

  {% endif %}
  
  </ul>




{% endblock content %}



