{% extends 'base.html' %}
{% block content %}

 <!-- Section -->
<section>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
        </form>
</section>
<section>
    <a href="{% url 'appointment_delete' appointment.pk %}" class="button next">Delete appointment</a>
</section>


<script>
    document.getElementById("id_appointmentDate").type="date";
    $('.js-example-basic-multiple').find(':selected');
</script>
{% endblock content %}




