{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- Section -->
 <section>
     <form action="" method="post">{% csrf_token %}
         {{ form.as_p }}
         <label>sa </label>
         <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
             <option value="AL">Alabama</option>
             <option value="WY">Wyoming</option>
        </select>
        <br>
         <input type="submit" value="Save" />
        </form>
        
    </section>
    



</div>


   


{% endblock content %}

 