{% extends 'base.html' %}
{% block content %}


 <!-- Section -->
 <section>
    <a href="{% url 'referrer_new' %}" class="button next">Add referrer</a>
</section>




<!-- Section -->
{% comment %} SEARCH {% endcomment %}
<section>
    <form method="get" action="{% url 'referrers' %}">
      <table>
        <tbody>
                    <td style="width:25%">      <input style = "width: auto;" id="al-search" type="text" 
                      name="search_value" value="{{ request.GET.search_value }}"
                      class="form-control" />  
                    </td>
                    <td>          <input type="submit"value="Search" class="button primary" />       
                    </td>
          </tbody>
        </table>
       

    </form>
</section>
 <!-- Section -->
 <h2>All referrer</h2>
<section>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
            {% for referrer in object_list %}
                <tr>
                    <td>
                        <h><a href="{% url 'referrer_edit' referrer.pk %}">{{ referrer.referrerName }}</a></h><br>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
      </table>

</section>
</br>
{% comment %} pagination  {% endcomment %}
<ul>
  <div class="prev_next">
  <div class="pages">
  {% if page_obj.has_previous %}
    <a class="prev btn btn-info" href="{{ request.get_full_path }}&page={{page_obj.previous_page_number}}">Previous</a>
  {% endif %}
    {% for pg in page_obj.paginator.page_range %}
    {% comment %}Ensure that serach filter is applied with pagination  {% endcomment %}
      {% if 'search_value' in request.get_full_path %}
          {% if page_obj.number == pg %}
            <a href="{{ request.get_full_path }}&page={{ pg }}"{{ pg }} class="btn btn-success">{{pg}}</a>
          {% else %}
            <a href="{{ request.get_full_path }}&page={{ pg }}"{{ pg }} class="btn">{{pg}}</a>
          {% endif %}
      {% else %}
      {% comment %} If none of them is there {% endcomment %}
        {% if page_obj.number == pg %}
          <a href="?page={{pg}}" class="btn btn-success">{{pg}}</a>
        {% else %}
          <a href="?page={{pg}}" class="btn">{{pg}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if 'search_value' in request.get_full_path %}
        {% if page_obj.has_next %}
        <a class="next btn btn-info" href="{{ request.get_full_path }}&page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    {% else %}
    {% if page_obj.has_next %}
    <a class="next btn btn-info" href="?page={{page_obj.next_page_number}}">Next</a>
  {% endif %}
  {% endif %}

  </div>
  </div>
</ul>




{% endblock content %}



