{% extends 'base.html' %}
{% block content %}

<!-- Section -->
<section>
    <table>
        <tbody>
          <td> <a href="{% url 'patient_new' %}" class="button next">Add patient</a></td>
          <td> <a href="{% url 'export-csv' %}" class="button next">Export csv</a></td>
          <td><a id="print-content" href="" onclick="printDiv('contentToPrint')" class="button primary"> Print</a></td>
        </tbody>
      </table>
</section>


<!-- Section -->
{% comment %} SEARCH {% endcomment %}
{% comment %} <section>
    <form method="get" action="{% url 'allpatients' %}">
        <table>
            <tbody>
              <td style="width:25%">         <input style = "width: auto;" id="al-search" type="text" name="search_value" value="{{ request.GET.search_value }}"class="form-control" />
              </td>
              <td>         <input type="submit" value="Search" class="button primary" />    
              </td>
            </tbody>
          </table>
    </form>
</section> {% endcomment %}

 <!-- Section -->
 <section>
    <h2>All patients</h2>
<div  id="contentToPrint" >
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Years</th>
            <th scope="col">Months</th>
            <th scope="col">Phone</th>
            <th scope="col">G</th>
            <th scope="col">Address</th>
            <th scope="col">Referred</th>
            <th scope="col">Cause</th>
            <th scope="col">Diagnose</th>
            <th scope="col">Investigation</th>
            <th scope="col">Treatment</th>
            <th scope="col">Operations</th>
            <th scope="col">Follow up</th>
            <th scope="col">New Visit reason</th>
        </tr>
        </thead>
        <tbody>


            <tr>
                <td>
                  <form method="get" action="{% url 'allpatients' %}" name = "search">
                      
                  <input style = "width: 200px;" id="al-search" type="text" name="search_name" 
                      value="{{ request.GET.search_name }}"class="form-control" onchange="this.form.submit()"/>  
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                  <form method="get" action="{% url 'allpatients' %}" name = "search">
                      
                    <input style = "width: 115px;" id="al-search" type="text" name="search_phone" 
                        value="{{ request.GET.search_phone }}"class="form-control" onchange="this.form.submit()"/>  
                </td>
                <td>
                  <form method="get" action="{% url 'allpatients' %}" name = "search">
                      
                    <input style = "width: 40px;" id="al-search" type="text" name="search_gender" 
                        value="{{ request.GET.search_gender }}"class="form-control" onchange="this.form.submit()"/>  
                </td>
                <td>
                  <form method="get" action="{% url 'allpatients' %}" name = "search">
                      
                    <input style = "width: 50;" id="al-search" type="text" name="search_address" 
                        value="{{ request.GET.search_address }}"class="form-control" onchange="this.form.submit()"/>  
                </td>
                <td>
                    <form method="get" action="{% url 'allpatients' %}" name = "search">
                        
                      <input style = "width: 50;" id="al-search" type="text" name="search_referred" 
                          value="{{ request.GET.search_referred }}"class="form-control" onchange="this.form.submit()"/>  
                  </td>
                  <td>
                    <form method="get" action="{% url 'allpatients' %}" name = "search">
                        
                      <input style = "width: 50;" id="al-search" type="text" name="search_cause" 
                          value="{{ request.GET.search_cause }}"class="form-control" onchange="this.form.submit()"/>  
                  </td>
                  <td>
                    <form method="get" action="{% url 'allpatients' %}" name = "search">
                        
                      <input style = "width: 50;" id="al-search" type="text" name="search_diagnose" 
                          value="{{ request.GET.search_diagnose }}"class="form-control" onchange="this.form.submit()"/>  
                  </td>
                  <td>
                    <form method="get" action="{% url 'allpatients' %}" name = "search">
                        
                      <input style = "width: 50;" id="al-search" type="text" name="search_investigation" 
                          value="{{ request.GET.search_investigation }}"class="form-control" onchange="this.form.submit()"/>  
                  </td>
                  <td>
                    <form method="get" action="{% url 'allpatients' %}" name = "search">
                        
                      <input style = "width: 50;" id="al-search" type="text" name="search_treatment" 
                          value="{{ request.GET.search_treatment }}"class="form-control" onchange="this.form.submit()"/>  
                  </td>
                  <td>
                    <form method="get" action="{% url 'allpatients' %}" name = "search">
                        
                      <input style = "width: 50;" id="al-search" type="text" name="search_operations" 
                          value="{{ request.GET.search_operations }}"class="form-control" onchange="this.form.submit()"/>  
                  </td>
                  <td>
                    <form method="get" action="{% url 'allpatients' %}" name = "search">
                        
                      <input style = "width: 50;" id="al-search" type="text" name="search_follow" 
                          value="{{ request.GET.search_follow }}"class="form-control" onchange="this.form.submit()"/>  
                  </td>
                  <td>
                    <form method="get" action="{% url 'allpatients' %}" name = "search">
                        
                      <input style = "width: 50;" id="al-search" type="text" name="search_follow" 
                          value="{{ request.GET.search_follow }}"class="form-control" onchange="this.form.submit()"/>  
                  </td>
            </tr>
            {% for patient in object_list %}
                <tr>
                    <td>
                        <h><a href="{% url 'patient_detail' patient.id %}">{{ patient.name }}</a></h>
                    </td>
                    <td>
                        <h> {{ patient.years }}</a></h>
                    </td>
                    <td>
                        <h> {{ patient.months }}</a></h>
                    </td>
                    <td>
                        <h> {{ patient.phoneNumber }}</a></h>
                    </td>
                    <td>
                        <h> {{ patient.gender }}</a></h>
                    </td>
                    <td>
                        <h> {{ patient.patientAddress }}</a></h>
                    </td>
                    <td>
                        <h>{% for referredFrom in patient.referredFrom.all %}{{ referredFrom }}<br/>{% endfor %}</h>
                    </td>
                    <td>
                        <h>{% for cause in patient.cause.all %}{{ cause }}<br/>{% endfor %}</h>
                    </td>
                    <td>
                        <h>{% for diagnose in patient.diagnose.all %}{{ diagnose }}<br/>{% endfor %}</h>
                    </td>
                    <td>
                        <h>{% for investigation in patient.investigation.all %}{{ investigation }}<br/>{% endfor %}</h>
                    </td>
                    <td>
                        <h>{% for treatment in patient.treatment.all %}{{ treatment }}<br/>{% endfor %}</h>
                    </td>
                    <td>
                        <h> {% for appointment in patient.patient_appointments.all %}
                            {% for operation in appointment.operation.all %}
                            {% if appointment.appointmentType == 'Operative' %}
                            {{ operation.operationName }}
                            <br/>
                            {% endif %}
                            {% endfor%}
                            {% endfor %}
                        </a></h>                   
                    </td>

                    <td>
                        <h>
                          {% for appointment in patient.patient_appointments.all %}
                        {% if appointment.appointmentType == 'Follow up' %}
                          {% for followup in appointment.followup.all %}
                          {{ followup.followupName }}
                          <br/>
                          {% endfor%}
                          {%endif%}
                          {% endfor %}
                        </a></h>                   
                    </td>
                    <td>
                      <h> 
                        {% for appointment in patient.patient_appointments.all %}
                        {% if appointment.appointmentType == 'New Visit' %}
                          {% for newVisit in appointment.new_visit.all %}
                          {{ newVisit.newVisitName }}
                          <br/>
                          {% endfor%}
                          {%endif%}
                          {% endfor %}
                      </a></h>                   
  
                  </td>
                </tr>
                {% endfor %}
                </tbody>
      </table>
    </div>
</section>


</br>

<h2> <a>Showing </a>{{ object_list.count }} <a>patients, from</a> {{total_patienst_in_page}}</h2>   

{% comment %} pagination  {% endcomment %}
<ul class="pagination">

  {% if page_obj.has_previous %}
      <li><a  class="prev btn btn-info" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
  {% else %}
      <li class=" prev btn btn-info disabled"><span>Previous</span></li>
  {% endif %}
  
  {% if page_obj.number|add:'-4' > 1 %}
      <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
  {% endif %}
  

{% for i in page_obj.paginator.page_range %}
    {% if 'search_value' in request.get_full_path %}
      {% if page_obj.number == i %}
          <li class="btn btn-success"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
          <li><a href="{{ request.get_full_path }}&page={{ i }}" class="btn">{{ i }}</a></li>
      {% endif %}
    {% else %}
    {% if page_obj.number == i %}
    <li class="btn btn-success"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
    <li><a href="?page={{ i }}" class="btn">{{ i }}</a></li>
  {% endif %}
  {% endif %}
{% endfor %}
  

  {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
      <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
  {% endif %}
  


  {% if 'search_value' in request.get_full_path %}

    {% if page_obj.has_next %}
        <li><a class="prev btn btn-info" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class=" prev btn btn-info disabled"><span>Next</span></li>
    {% endif %}

    {% else %}
    {% if page_obj.has_next %}
        <li><a class="prev btn btn-info" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class=" prev btn btn-info disabled"><span>Next</span></li>
    {% endif %}

  {% endif %}
  
  </ul>

</section>




<script>
    function printDiv(contentToPrint) {
      var css = '<style type="text/css">' +
        'table th, table td {' +
        'border:1px solid #000;'
        '}' +
        '</style>'
        var printContents = document.getElementById(contentToPrint).innerHTML;
        w=window.open();
        w.document.write(printContents);
        w.document.write(css);
        w.document.close();
        w.focus();
        w.print();
        w.close();
    }
  </script>
{% endblock content %}



