{% extends 'base.html' %}
{% block content %}

 <!-- Section -->
 <section>
    <a href="{% url 'patient_new' %}" class="button next">Add patient</a>
</section>

 <!-- Section -->
 <section>
    <h2>All patient</h2>



    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Years</th>
            <th scope="col">Months</th>
            <th scope="col">Diagnoses</th>
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>
            {% for patient in object_list %}

                <tr>
                    <td>
                        <h><a href="{% url 'patient_detail' patient.id %}">{{ patient.name }}</a></h>
                    </td>
                    <td>
                        <h1><a href="">{{ patient.years }}</a></h1>
                    </td>
                    <td>
                        <h1><a href="">{{ patient.months }}</a></h1>
                    </td>
                    <td>
                        <h1><a href="">{{ patient.diagnose }}</a></h1>
                    </td>
                    <td>
                        <h1><a href="">{{ patient.diagnose }}</a></h1>
                    </td>
                </tr>


                




                {% endfor %}
                </tbody>
      </table>
</section>
{% endblock content %}



