{% extends 'base.html' %}
{% block content %}

 <!-- Section -->
 <section>
    <td> <a href="{% url 'patient_new' %}" class="button next">Add patient</a></td>
    <td><a id="print-content" href="" onclick="printDiv('contentToPrint')" class="button primary"> Print</a></td>
</section>

 <!-- Section -->
 <h2>All patients</h2>
 <section>
   <div  id="contentToPrint" >
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Years</th>
            <th scope="col">Months</th>
            <th scope="col">Diagnoses</th>
            <th scope="col">Operations</th>
            <th scope="col">Follow up</th>
            <th scope="col">New visit reason</th>
        </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                <form method="get" action="{% url 'patients' %}" name = "search">
                    
                <input style = "width: auto;" id="al-search" type="text" name="search_value" 
                    value="{{ request.GET.search_value }}"class="form-control" onchange="this.form.submit()"/>  
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <form method="get" action="{% url 'patients' %}" name = "search">
                    
                  <input style = "width: auto;" id="al-search" type="text" name="search_diagnoses" 
                      value="{{ request.GET.search_diagnoses }}"class="form-control" onchange="this.form.submit()"/>  
              </td>
              <td>
                <form method="get" action="{% url 'patients' %}" name = "search">
                    
                  <input style = "width: auto;" id="al-search" type="text" name="search_operations" 
                      value="{{ request.GET.search_operations }}"class="form-control" onchange="this.form.submit()"/>  
              </td>
              <td>
                <form method="get" action="{% url 'patients' %}" name = "search">
                    
                  <input style = "width: auto;" id="al-search" type="text" name="search_follow" 
                      value="{{ request.GET.search_follow }}"class="form-control" onchange="this.form.submit()"/>  
              </td>
              <td>
                <form method="get" action="{% url 'patients' %}" name = "search">
                    
                  <input style = "width: auto;" id="al-search" type="text" name="" 
                      value=""class="form-control" onchange="this.form.submit()"/>  
              </td>
          </tr>
          <tr>
            {% for patient in object_list %}
                    <td>
                        <h><a href="{% url 'patient_detail' patient.id %}">{{ patient.name }}</a></h>
                    </td>
                    <td>
                        <h> {{ patient.years }}</a></h>
                    </td>
                    <td>
                        <h> {{ patient.months }}</a></h>
                    </td>
                    <td>
                    <h>{% for diagnose in patient.diagnose.all %}{{ diagnose }}<br/>{% endfor %}</h>
                    </td>
                    <td>
                        <h> 
                          {% for appointment in patient.patient_appointments.all %}
                          {% if appointment.appointmentType == 'Operative' %}
                            {% for operation in appointment.operation.all %}
                            {{ operation.operationName }}
                            <br/>
                            {% endfor%}
                            {%endif%}
                            {% endfor %}
                        </a></h>                   

                    </td>
                    <td>
                      <h> 
                        {% for appointment in patient.patient_appointments.all %}
                        {% if appointment.appointmentType == 'Follow up' %}
                          {% for followup in appointment.followup.all %}
                          {{ followup.followupName }}
                          <br/>
                          {% endfor%}
                          {%endif%}
                          {% endfor %}
                      </a></h>                   

                  </td>
                  <td>
                    <h> 
                      {% for appointment in patient.patient_appointments.all %}
                      {% if appointment.appointmentType == 'New Visit' %}
                        {% for newVisit in appointment.new_visit.all %}
                        {{ newVisit.newVisitName }}
                        <br/>
                        {% endfor%}
                        {%endif%}
                        {% endfor %}
                    </a></h>                   

                </td>
                </tr>
                {% endfor %}
                </tbody>
      </table>
</section>
</br>

<h2> <a>Showing </a>{{ object_list.count }} <a>patients, from</a> {{total_patienst_in_page}}</h2>   

<ul class="pagination">

  {% if page_obj.has_previous %}
      <li><a  class="prev btn btn-info" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
  {% else %}
      <li class=" prev btn btn-info disabled"><span>Previous</span></li>
  {% endif %}
  
  {% if page_obj.number|add:'-4' > 1 %}
      <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
  {% endif %}
  

{% for i in page_obj.paginator.page_range %}
    {% if 'search_value' in request.get_full_path %}
      {% if page_obj.number == i %}
          <li class="btn btn-success"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
          <li><a href="{{ request.get_full_path }}&page={{ i }}" class="btn">{{ i }}</a></li>
      {% endif %}
    {% else %}
    {% if page_obj.number == i %}
    <li class="btn btn-success"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
    <li><a href="?page={{ i }}" class="btn">{{ i }}</a></li>
  {% endif %}
  {% endif %}
{% endfor %}
  

  {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
      <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
  {% endif %}
  

  {% if 'search_value' in request.get_full_path %}

    {% if page_obj.has_next %}
        <li><a class="prev btn btn-info" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class=" prev btn btn-info disabled"><span>Next</span></li>
    {% endif %}

    {% else %}
    {% if page_obj.has_next %}
        <li><a class="prev btn btn-info" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class=" prev btn btn-info disabled"><span>Next</span></li>
    {% endif %}

  {% endif %}
  
  </ul>



















<script>
  function printDiv(contentToPrint) {
    var css = '<style type="text/css">' +
      'table th, table td {' +
      'border:1px solid #000;'
      '}' +
      '</style>'
      var printContents = document.getElementById(contentToPrint).innerHTML;
      w=window.open();
      w.document.write(printContents);
      w.document.write(css);
      w.document.close();
      w.focus();
      w.print();
      w.close();
  }
</script>
{% endblock content %}

