{% extends 'base.html' %}
{% block content %}


 <!-- Section -->
 <section>
    <table>
        <tbody>
            <td> <a href="{% url 'attachments' patient.pk %}" class="button next">Attachments</a> </td>
            <td> <a href="{% url 'appointments_for_Patient' patient.pk %}" class="button next">Appointments</a> </td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <td> <a href="{% url 'patient_edit' patient.pk %}" class="button next">Edit patient details</a></td>
</tbody>
</table>
</section>


 <!-- Section -->
<section>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Patient name:</th>
            <th scope="col">{{ patient.name }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
            <tr>
                <td> <h>Patient phone number:</h></td>
                <td><h>{{ patient.phoneNumber }}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>

            </tr>

            <tr>
                <td> <h>Age:</h></td>
                <td><h>{{ patient.years }}</h></td>
                <td><h>years</h></td>
                <td><h>{{ patient.months }}</h></td>
                <td><h>months</h></td>
            </tr>
            <tr>
                <td> <h>Gender:</h></td>
                <td><h>{{ patient.gender }}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>
            </tr>

            <tr>
                <td> <h>Patient Address:</h></td>
                <td><h>{{ patient.patientAddress }}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>
            </tr>
            <tr>
                <td> <h>Patient complaint:</h></td>
                <td><h>{{ patient.patientComplaint }}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>
            </tr>
            <tr>
                <td> <h>Referred From:</h></td>
                <td><h>{% for referrer in patient.referredFrom.all %}{{ referrer }}<br/>{% endfor %}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>
            </tr>

            <tr>
                <td> <h>Causes:</h></td>
                <td><h>{% for cause in patient.cause.all %}{{ cause }}<br/>{% endfor %}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>
            </tr>
            <tr>
                <td> <h>Diagnoses:</h></td>
                <td><h>{% for diagnose in patient.diagnose.all %}{{ diagnose }}<br/>{% endfor %}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>
            </tr>
            <tr>
                <td> <h>Investigations:</h></td>
                <td><h>{% for investigation in patient.investigation.all %}{{ investigation }}<br/>{% endfor %}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>
            </tr>
            <tr>
            <td> <h>Treatments:</h></td>
            <td><h>{% for treatment in patient.treatment.all %}{{ treatment }}<br/>{% endfor %}</h></td></h></td>
            <td><h></h></td>
            <td><h></h></td>
            <td><h></h></td>
            </tr>
            <tr>
                <td> <h>Operations:</h></td>
                <td> <h1>
                    {% for appointment in patient.patient_appointments.all %}
                    {% if appointment.appointmentType == 'Operative' %}
                        {% if not forloop.first %}
                            <br/>
                            {% endif %}                       
                            {% endif %}

                        {% for operation in appointment.operation.all %}
                            {% if appointment.appointmentType == 'Operative' %}
                                {{ operation.operationName }}
                                {% if forloop.first %}
                                ,
                                {% endif %}
                            {% endif %}
                        {% endfor%}
                    {% endfor %}
                </td></h></td>
                <td><h1>
                    {% for appointment in patient.patient_appointments.all %}
                    {% if appointment.appointmentType == 'Operative' %}
                        {% if appointment.operation.all %}
                            {% if not forloop.first %}
                            <br/>
                            {% endif %}
                            {{ appointment.appointmentDate }}
                        {% endif %}
                        {% endif %}

                    {% endfor%}
                </h1></td>
                <td><h></h></td>
                <td><h></h></td>
                </tr> 
            <tr>
                <td><h>Notes:</h></td>
                <td><h>{{ patient.note | urlize |linebreaks}}</h></td>
                <td><h></h></td>
                <td><h></h></td>
                <td><h></h></td>
            </tr>
            </tbody>
        </table>
</section>


<!-- Section -->
<section>

<form action="{% url 'uploadAttachment'%}" enctype="multipart/form-data" method="post">
    <input type="hidden" name= "patient_pk" value= "{{patient.id}}" > 
    {% csrf_token %}
    <label for="files">Attachments:</label>
    <input type="file" id="attachment" name="attachment"  multiple >
    <input type="submit"  class="button next">
  </form>
</section>


 <!-- Section -->
 <section>

    <a href="{% url 'patient_delete' patient.pk %}" class="button next">Delete patient</a>
</section>

{% endblock content %}


